{
	order rate_limit before basicauth
}

:80 {
	handle_path /siws* {
		reverse_proxy :3031 {
			trusted_proxies private_ranges
		}
	}

	handle_path /helloworld* {
		respond "Hello World"
	}

	handle {
		reverse_proxy :8080
	}

	rate_limit {
		zone dynamic {
			key    "{http.request.remote.host}"
			events 30
			window 5s
		}
	}
	log {
		format console
	}
}
